*{
  margin: 0%;
  padding: 0%;
}
header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}
h2{
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 40px;
}

.crypto-form {
  background-color: #fff;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 45%;
}

.crypto-table {
  background-color: #fff;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 45%;
}

/* Styles for form and table elements */
form {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
}

input[type="text"],
input[type="number"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 3px;
}

button {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 3px;
}

button:hover {
  background-color: #555;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

/* Styles for update, delete, and cancel buttons */
.update-btn, .delete-btn, .cancel-btn {
  padding: 5px 10px;
  margin-right: 5px;
  border: none;
  cursor: pointer;
  border-radius: 3px;
}

.update-btn {
  background-color: #4CAF50;
  color: #fff;
}

.delete-btn {
  background-color: #FF0000;
  color: #fff;
}

.cancel-btn {
  background-color: #ccc;
}

/* Hide update and cancel buttons by default */
#update-btn,
#cancel-btn {
  display: none;
}
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}
